body {
    margin: 0;
    padding: 0;
    height: 100%;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

footer {
background-color:#ebebeb;
padding:20px;
margin-top:25px;
width:100%;
margin-bottom: -3.75rem;
position:absolute;
}


.accordionhead
{
    background-color:#e4e4e4;
    padding:10px;
    width:1050px;
}

    input[type="text"]{
    border-radius: 2px;
    }

.accordionheadselected
{
    background-color:#e4e4e4;
    padding: 10px;
    width:1050px;
    font-weight:bold;
    font-style:italic;
}

a {
    color:#7c7c7d;
}

a:hover {
    color:black;
    }

a:visited {
    color:#7c7c7d;
}