<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <connectionStrings>
    <add name="ConnectionStringAccess" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\Daniel\Documents\Visual Studio 2012\Projects\db.accdb&quot;" providerName="System.Data.OleDb"/>
    <remove name="LocalSqlServer"/>
    <add name="LocalSqlServer" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\aspnetdb.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <system.web>
    <authentication mode="Forms"/>
    <roleManager enabled="true"/>
    
   
    
    <compilation debug="true" targetFramework="4.7.1">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      </assemblies>
    </compilation>
   
    
    <httpRuntime targetFramework="4.7.1"/>

    
    <!--My extra sitemaps-->
    <siteMap enabled="true">
      <providers>
        <remove name="MySqlSiteMapProvider" />
        <add name="AdminSiteMap" type="System.Web.XmlSiteMapProvider" siteMapFile="admins_sitemap.sitemap"/>
        <add name="DoctorSiteMap" type="System.Web.XmlSiteMapProvider" siteMapFile="doctors_sitemap.sitemap"/>
        <add name="PatientSiteMap" type="System.Web.XmlSiteMapProvider" siteMapFile="patients_sitemap.sitemap"/>
        <add name="SecretarySiteMap" type="System.Web.XmlSiteMapProvider" siteMapFile="secretarys_sitemap.sitemap"/>
      </providers>
      
    </siteMap>


    <customErrors mode="On" defaultRedirect="Errors/DefaultError.aspx">
      <error statusCode="404" redirect="Errors/NotFound.aspx"/>
      <error statusCode="403" redirect="Errors/Forbidden.aspx"/>
    </customErrors>

    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    
    
  </system.web>
  <!-- Link needed in order for Ajax to work -->
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>


  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ChartImageHandler"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>


  <!--  <httpErrors existingResponse="Replace" errorMode="Custom">
      <remove statusCode="403"/>
      <remove statusCode="404"/>
      <remove statusCode="500"/>
      <error statusCode="403" path="/Errors/Forbidden.aspx" responseMode="Redirect"  />
      <error statusCode="500" path="/Errors/DefaultError.aspx" responseMode="Redirect" />
      <error statusCode="404" path="/Errors/NotFound.aspx" responseMode="Redirect"  />
    </httpErrors> -->
  </system.webServer>


</configuration>